body {
  background-color: #F5F5DC !important; /* Cor de fundo */
}

.custom-login-btn {
  background-color: #FD5602; /* Cor de fundo laranja */
  color: white; /* Cor do texto */
  border: 2px solid #E05A02; /* Borda levemente mais escura */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 1.25rem; /* Tamanho do texto */
  cursor: pointer; /* Cursor de "mãozinha" */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave */
}

.custom-login-btn:hover {
  background-color: #e02b02; /* Fundo mais escuro ao passar o mouse */
  border-color: #e02b02; /* Borda ainda mais escura no hover */
}

.custom-rounded{
  border-radius: 5px;
}

.message{
  color: gray;
  margin-left: 10px;
  margin-top: 10px;
}
